@font-face {
  font-family: 'GothamUltra';
  src: url("../fonts/GothamUltra.woff2") format("woff2"), url("../fonts/GothamUltra.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamBook';
  src: url("../fonts/GothamBook.woff2") format("woff2"), url("../fonts/GothamBook.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamThin';
  src: url("../fonts/GothamThin.woff2") format("woff2"), url("../fonts/GothamThin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'GothamThin';
  src: url("../fonts/GothamThin-Italic.woff2") format("woff2"), url("../fonts/GothamThin-Italic.woff") format("woff");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'GothamUltra';
  src: url("../fonts/GothamUltra-Italic.woff2") format("woff2"), url("../fonts/GothamUltra-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Gotham Condensed';
  src: url("../fonts/GothamCondensed-Bold.woff2") format("woff2"), url("../fonts/GothamCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'GothamMedium';
  src: url("../fonts/GothamMedium-Italic.woff2") format("woff2"), url("../fonts/GothamMedium-Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'GothamMedium';
  src: url("../fonts/GothamMedium.woff2") format("woff2"), url("../fonts/GothamMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'GothamBlack';
  src: url("../fonts/GothamBlack-Italic.woff2") format("woff2"), url("../fonts/GothamBlack-Italic.woff") format("woff");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'GothamBold';
  src: url("../fonts/GothamBold-Italic.woff2") format("woff2"), url("../fonts/GothamBold-Italic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Gotham Condensed';
  src: url("../fonts/GothamCondensed-Medium.woff2") format("woff2"), url("../fonts/GothamCondensed-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'GothamExLight';
  src: url("../fonts/GothamExLight.woff2") format("woff2"), url("../fonts/GothamExLight.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'GothamExLight';
  src: url("../fonts/GothamExLight-Italic.woff2") format("woff2"), url("../fonts/GothamExLight-Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'GothamBlack';
  src: url("../fonts/GothamBlack.woff2") format("woff2"), url("../fonts/GothamBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'GothamLight';
  src: url("../fonts/GothamLight.woff2") format("woff2"), url("../fonts/GothamLight.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'GothamBook';
  src: url("../fonts/GothamBook-Italic.woff2") format("woff2"), url("../fonts/GothamBook-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'GothamLight';
  src: url("../fonts/GothamLight-Italic.woff2") format("woff2"), url("../fonts/GothamLight-Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'GothamBold';
  src: url("../fonts/GothamBold.woff2") format("woff2"), url("../fonts/GothamBold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'thecarbox-icons';
  src: url("../fonts/thecarbox-icons.ttf?z3c2cg") format("truetype"), url("../fonts/thecarbox-icons.woff?z3c2cg") format("woff"), url("../fonts/thecarbox-icons.svg?z3c2cg#thecarbox-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'thecarbox-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-thecarbox:before {
  content: "\e900"; }

.icon-pattern:before {
  content: "\e901"; }

.icon-arrow-back-circle:before {
  content: "\e902"; }

.icon-arrow-forward-circle:before {
  content: "\e903"; }

.icon-arrow-upward-circle:before {
  content: "\e904"; }

.icon-arrow-downward-circle:before {
  content: "\e905"; }

.icon-arrow-back:before {
  content: "\e914"; }

.icon-arrow-forward:before {
  content: "\e915"; }

.icon-arrow-upward:before {
  content: "\e916"; }

.icon-arrow-downward:before {
  content: "\e917"; }

.icon-chevron-left:before {
  content: "\e918"; }

.icon-chevron-right:before {
  content: "\e919"; }

.icon-chevron-less:before {
  content: "\e91a"; }

.icon-chevron-more:before {
  content: "\e91b"; }

.icon-unfold-more:before {
  content: "\e91c"; }

.icon-unfold-less:before {
  content: "\e91d"; }

.icon-expand-all:before {
  content: "\e941"; }

.icon-collapse-all:before {
  content: "\e942"; }

.icon-add-circle:before {
  content: "\e906"; }

.icon-remove-circle:before {
  content: "\e907"; }

.icon-close-circle:before {
  content: "\e908"; }

.icon-close-small:before {
  content: "\e966"; }

.icon-close:before {
  content: "\e91e"; }

.icon-home:before {
  content: "\e91f"; }

.icon-explore:before {
  content: "\e920"; }

.icon-scan:before {
  content: "\e921"; }

.icon-search:before {
  content: "\e922"; }

.icon-advanced-search:before {
  content: "\e96b"; }

.icon-zoom-in:before {
  content: "\e943"; }

.icon-zoom-out:before {
  content: "\e96c"; }

.icon-fit-image:before {
  content: "\e970"; }

.icon-menu:before {
  content: "\e923"; }

.icon-thumb-view:before {
  content: "\e924"; }

.icon-list-view:before {
  content: "\e925"; }

.icon-filter:before {
  content: "\e926"; }

.icon-story:before {
  content: "\e927"; }

.icon-photo-album:before {
  content: "\e928"; }

.icon-no-image:before {
  content: "\e96e"; }

.icon-sound-off:before {
  content: "\e929"; }

.icon-sound-on:before {
  content: "\e92a"; }

.icon-fast-rewind:before {
  content: "\e92b"; }

.icon-fast-forward:before {
  content: "\e92c"; }

.icon-play:before {
  content: "\e92d"; }

.icon-pause:before {
  content: "\e92e"; }

.icon-sound-volume:before {
  content: "\e92f"; }

.icon-relevant:before {
  content: "\e930"; }

.icon-font-size:before {
  content: "\e931"; }

.icon-order-az:before {
  content: "\e932"; }

.icon-order-za:before {
  content: "\e933"; }

.icon-newest:before {
  content: "\e934"; }

.icon-oldest:before {
  content: "\e935"; }

.icon-numerical-order:before {
  content: "\e936"; }

.icon-done-small:before {
  content: "\e969"; }

.icon-done:before {
  content: "\e937"; }

.icon-reset:before {
  content: "\e938"; }

.icon-backspace:before {
  content: "\e939"; }

.icon-badge:before {
  content: "\e93a"; }

.icon-checkered-flag:before {
  content: "\e93b"; }

.icon-driver:before {
  content: "\e971"; }

.icon-owner:before {
  content: "\e972"; }

.icon-restauration:before {
  content: "\e973"; }

.icon-flash-on:before {
  content: "\e93c"; }

.icon-flash-off:before {
  content: "\e93d"; }

.icon-engine:before {
  content: "\e974"; }

.icon-chassis:before {
  content: "\e975"; }

.icon-dimensions:before {
  content: "\e976"; }

.icon-steering-wheel:before {
  content: "\e93e"; }

.icon-user:before {
  content: "\e957"; }

.icon-add-user:before {
  content: "\e958"; }

.icon-user-settings:before {
  content: "\e959"; }

.icon-people:before {
  content: "\e93f"; }

.icon-event:before {
  content: "\e940"; }

.icon-thumbnail:before {
  content: "\e909"; }

.icon-thumbnail-back:before {
  content: "\e90a"; }

.icon-thumbnail-list:before {
  content: "\e90b"; }

.icon-new-file:before {
  content: "\e944"; }

.icon-view-open-in-new:before {
  content: "\e945"; }

.icon-edit:before {
  content: "\e946"; }

.icon-bulk-edit:before {
  content: "\e947"; }

.icon-import:before {
  content: "\e948"; }

.icon-export:before {
  content: "\e949"; }

.icon-collections:before {
  content: "\e94a"; }

.icon-upload:before {
  content: "\e94b"; }

.icon-download:before {
  content: "\e94c"; }

.icon-cancel-download:before {
  content: "\e94d"; }

.icon-reorder:before {
  content: "\e94e"; }

.icon-drag-indicator:before {
  content: "\e94f"; }

.icon-trash:before {
  content: "\e950"; }

.icon-delete:before {
  content: "\e951"; }

.icon-bulk-delete:before {
  content: "\e952"; }

.icon-print:before {
  content: "\e953"; }

.icon-log:before {
  content: "\e954"; }

.icon-publication:before {
  content: "\e955"; }

.icon-report:before {
  content: "\e956"; }

.icon-video:before {
  content: "\e960"; }

.icon-email:before {
  content: "\e95f"; }

.icon-tasks:before {
  content: "\e95a"; }

.icon-table:before {
  content: "\e961"; }

.icon-link:before {
  content: "\e95b"; }

.icon-unlink:before {
  content: "\e95c"; }

.icon-dashboard:before {
  content: "\e95d"; }

.icon-settings:before {
  content: "\e95e"; }

.icon-sign-in:before {
  content: "\e962"; }

.icon-sign-out:before {
  content: "\e963"; }

.icon-fullscreen:before {
  content: "\e967"; }

.icon-fullscreen-exit:before {
  content: "\e968"; }

.icon-more-vertical:before {
  content: "\e964"; }

.icon-more-horizontal:before {
  content: "\e965"; }

.icon-facebook:before {
  content: "\e90c"; }

.icon-twitter:before {
  content: "\e90d"; }

.icon-googleplus:before {
  content: "\e90e"; }

.icon-pinterest:before {
  content: "\e90f"; }

.icon-linkedin:before {
  content: "\e910"; }

.icon-youtube:before {
  content: "\e911"; }

.icon-instagram:before {
  content: "\e912"; }

.icon-www:before {
  content: "\e96a"; }

.icon-mobile-app:before {
  content: "\e913"; }

.icon-information:before {
  content: "\e96d"; }

.icon-error:before {
  content: "\e977"; }

.icon-money:before {
  content: "\e96f"; }

.fancy-item,
.fancy-highlight {
  height: 60px; }
  @media (max-width: 992px) {
    .fancy-item.doublesize,
    .fancy-highlight.doublesize {
      height: 120px; } }
  @media (max-width: 992px) {
    .fancy-item,
    .fancy-highlight {
      margin-top: 5px; } }
  .fancy-item.draggable,
  .fancy-highlight.draggable {
    background: #DFDDDB;
    display: flex !important;
    align-items: center;
    border-radius: 4px; }
    .fancy-item.draggable.ui-sortable .fancy-item.draggable.ui-sortable-placeholder,
    .fancy-highlight.draggable.ui-sortable .fancy-item.draggable.ui-sortable-placeholder, .fancy-item.draggable.ui-sortable
    .fancy-highlight.draggable.ui-sortable-placeholder,
    .fancy-highlight.draggable.ui-sortable
    .fancy-highlight.draggable.ui-sortable-placeholder {
      background-color: #FFFFFF;
      border: 1px solid #FFFFFF;
      visibility: visible; }
    .fancy-item.draggable.ui-sortable-helper,
    .fancy-highlight.draggable.ui-sortable-helper {
      background: #3452FF;
      border: 1px solid #3452FF; }
      .fancy-item.draggable.ui-sortable-helper i,
      .fancy-highlight.draggable.ui-sortable-helper i {
        color: #FFFFFF; }
      .fancy-item.draggable.ui-sortable-helper .fancy-item,
      .fancy-highlight.draggable.ui-sortable-helper .fancy-item {
        margin-top: 0px;
        border: unset;
        height: 58px; }
    .fancy-item.draggable i,
    .fancy-highlight.draggable i {
      color: #948D87;
      height: 100%;
      width: 30px;
      font-size: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
    .fancy-item.draggable div.double-content,
    .fancy-highlight.draggable div.double-content {
      display: flex;
      position: relative;
      background: white;
      border-radius: 4px;
      width: 100%;
      height: 100%;
      padding-top: 0px !important; }
      .fancy-item.draggable div.double-content .fancy-item,
      .fancy-highlight.draggable div.double-content .fancy-item {
        margin-top: 0px; }

.simple-items {
  display: flex; }
  @media (max-width: 992px) {
    .simple-items {
      flex-direction: column;
      margin-top: 15px; } }
  .simple-items.two {
    width: 66.66%; }
    @media (max-width: 992px) {
      .simple-items.two {
        width: 100%; } }
    .simple-items.two .fancy-item:last-child,
    .simple-items.two .fancy-highlight:last-child {
      margin-right: 3px; }
      @media (max-width: 992px) {
        .simple-items.two .fancy-item:last-child,
        .simple-items.two .fancy-highlight:last-child {
          margin-right: 0px;
          margin-left: 0px; } }
    @media (max-width: 992px) {
      .simple-items.two .fancy-item,
      .simple-items.two .fancy-highlight {
        margin-top: 5px; } }
  .simple-items .fancy-item,
  .simple-items .fancy-highlight {
    display: inline-block;
    margin-right: 3px;
    margin-left: 3px;
    flex: 1; }
    @media (max-width: 992px) {
      .simple-items .fancy-item,
      .simple-items .fancy-highlight {
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 5px; } }
    .simple-items .fancy-item.double,
    .simple-items .fancy-highlight.double {
      flex: unset;
      width: 66.66%; }
      @media (max-width: 992px) {
        .simple-items .fancy-item.double,
        .simple-items .fancy-highlight.double {
          width: 100%; } }
    .simple-items .fancy-item:first-child,
    .simple-items .fancy-highlight:first-child {
      margin-left: 0px; }
    .simple-items .fancy-item:last-child,
    .simple-items .fancy-highlight:last-child {
      margin-right: 0px; }

.stacked {
  display: flex;
  flex-direction: column;
  margin-right: 3px;
  margin-left: 3px;
  flex: 1; }
  .stacked.one {
    width: 33.33%;
    flex: unset; }
    @media (max-width: 992px) {
      .stacked.one {
        width: 100%; } }
  .stacked.two {
    width: 66.66%;
    flex: unset; }
    @media (max-width: 992px) {
      .stacked.two {
        width: 100%; } }
  .stacked:first-child {
    margin-left: 0px; }
  .stacked:last-child {
    margin-right: 0px; }

.stacked-items {
  width: 100%; }
  .stacked-items .fancy-item,
  .stacked-items .fancy-highlight {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    height: 60px; }
    @media (max-width: 992px) {
      .stacked-items .fancy-item.doublesize,
      .stacked-items .fancy-highlight.doublesize {
        height: 120px; } }
    .stacked-items .fancy-item.double,
    .stacked-items .fancy-highlight.double {
      flex: unset;
      width: 66.66%; }
    .stacked-items .fancy-item .attached-items,
    .stacked-items .fancy-highlight .attached-items {
      background: unset !important;
      margin: 0; }

.attached-items {
  display: flex; }
  @media (max-width: 992px) {
    .attached-items {
      flex-direction: column;
      margin-top: 15px; } }
  .attached-items.stk {
    padding-top: 0px !important; }
  .attached-items.two {
    width: 66.66%; }
    @media (max-width: 992px) {
      .attached-items.two {
        width: 100%; } }
    .attached-items.two .fancy-item:last-child,
    .attached-items.two .fancy-highlight:last-child {
      margin-right: 3px; }
      @media (max-width: 992px) {
        .attached-items.two .fancy-item:last-child,
        .attached-items.two .fancy-highlight:last-child {
          margin-right: 0px;
          margin-left: 0px; } }
  .attached-items .fancy-item,
  .attached-items .fancy-highlight {
    display: inline-block;
    border: 1px solid #DFDDDB;
    border-right: unset;
    border-left: unset;
    border-radius: 0 0 0 0;
    position: relative;
    flex: 1; }
    @media (max-width: 992px) {
      .attached-items .fancy-item,
      .attached-items .fancy-highlight {
        margin-top: 5px;
        border-radius: 4px;
        border: 1px solid #DFDDDB; } }
    .attached-items .fancy-item span.label,
    .attached-items .fancy-highlight span.label {
      padding-left: 13px; }
    .attached-items .fancy-item:before,
    .attached-items .fancy-highlight:before {
      content: " ";
      display: block;
      position: absolute;
      height: 70%;
      border-left: 1px solid #DFDDDB;
      top: 15%; }
      @media (max-width: 992px) {
        .attached-items .fancy-item:before,
        .attached-items .fancy-highlight:before {
          content: unset; } }
    .attached-items .fancy-item.opened,
    .attached-items .fancy-highlight.opened {
      border-radius: 0 0 0 0; }
    .attached-items .fancy-item.double,
    .attached-items .fancy-highlight.double {
      flex: unset;
      width: 66.66%; }
    .attached-items .fancy-item:first-child,
    .attached-items .fancy-highlight:first-child {
      border: 1px solid #DFDDDB;
      border-right: unset;
      border-radius: 4px 0 0 4px; }
      @media (max-width: 992px) {
        .attached-items .fancy-item:first-child,
        .attached-items .fancy-highlight:first-child {
          margin-top: 5px;
          border-radius: 4px;
          border: 1px solid #DFDDDB; } }
      .attached-items .fancy-item:first-child span.label,
      .attached-items .fancy-highlight:first-child span.label {
        padding-left: 11px; }
      .attached-items .fancy-item:first-child:before,
      .attached-items .fancy-highlight:first-child:before {
        content: unset; }
      .attached-items .fancy-item:first-child.opened,
      .attached-items .fancy-highlight:first-child.opened {
        border-radius: 4px 0 0 0; }
    .attached-items .fancy-item:last-child,
    .attached-items .fancy-highlight:last-child {
      border: 1px solid #DFDDDB;
      border-left: unset;
      border-radius: 0 4px 4px 0; }
      @media (max-width: 992px) {
        .attached-items .fancy-item:last-child,
        .attached-items .fancy-highlight:last-child {
          margin-top: 5px;
          border-radius: 4px;
          border: 1px solid #DFDDDB; } }
      .attached-items .fancy-item:last-child span.label,
      .attached-items .fancy-highlight:last-child span.label {
        padding-left: 16px; }
      .attached-items .fancy-item:last-child.opened,
      .attached-items .fancy-highlight:last-child.opened {
        border-radius: 0 4px 0 0; }

.fancy-onoff {
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 6px;
  padding-right: 10px; }
  .fancy-onoff .onoffswitch {
    position: relative;
    width: 44px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; }
    .fancy-onoff .onoffswitch input.onoffswitch-checkbox {
      display: none; }
      .fancy-onoff .onoffswitch input.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0; }
      .fancy-onoff .onoffswitch input.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px;
        background-color: #1FCF62; }
    .fancy-onoff .onoffswitch label.onoffswitch-label {
      display: block;
      overflow: hidden;
      cursor: pointer;
      border: 4px solid #FFFFFF;
      border-radius: 10px; }
      .fancy-onoff .onoffswitch label.onoffswitch-label span.onoffswitch-inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        transition: margin 0.1s ease-in 0s; }
        .fancy-onoff .onoffswitch label.onoffswitch-label span.onoffswitch-inner:before, .fancy-onoff .onoffswitch label.onoffswitch-label span.onoffswitch-inner:after {
          display: block;
          float: left;
          width: 50%;
          height: 7px;
          padding: 0;
          line-height: 7px;
          font-size: 14px;
          color: #FFFFFF;
          font-family: Trebuchet, Arial, sans-serif;
          font-weight: bold;
          box-sizing: border-box; }
        .fancy-onoff .onoffswitch label.onoffswitch-label span.onoffswitch-inner:before {
          content: "";
          padding-left: 10px;
          background-color: #1FCF62;
          color: #ffffff; }
        .fancy-onoff .onoffswitch label.onoffswitch-label span.onoffswitch-inner:after {
          content: "";
          padding-right: 10px;
          background-color: #DFDDDB;
          color: #FFFFFF;
          text-align: right; }
      .fancy-onoff .onoffswitch label.onoffswitch-label span.onoffswitch-switch {
        display: block;
        width: 30px;
        height: 30px;
        margin: -8px;
        background: #948D87;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 31px;
        border: 4px solid #FFFFFF;
        border-radius: 50%;
        transition: all 0.1s ease-in 0s; }

.fancy-submit {
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  align-items: center;
  padding: 0 60px;
  width: 200px;
  height: 100px;
  transition: all .2s ease-in-out, transform .2s ease-in-out;
  cursor: pointer; }
  @media (max-width: 992px) {
    .fancy-submit {
      padding: 0; } }
  .fancy-submit label {
    max-width: unset; }
  .fancy-submit:hover i {
    color: #FFFFFF;
    background-color: #3452FF;
    transition: all .2s ease-in-out, transform .2s ease-in-out; }
    .fancy-submit:hover i.green {
      background-color: #1FCF62; }
      .fancy-submit:hover i.green.color-icon {
        color: #FFFFFF; }
    .fancy-submit:hover i.red {
      background-color: #F73952; }
      .fancy-submit:hover i.red.color-icon {
        color: #FFFFFF; }
  .fancy-submit i {
    display: flex;
    height: 50px;
    width: 50px;
    background: #FFFFFF;
    border-radius: 50%;
    border: 0;
    color: #3452FF;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    transition: all .2s ease-in-out, transform .2s ease-in-out; }
    .fancy-submit i.color-icon {
      color: #3452FF; }
      .fancy-submit i.color-icon.green {
        color: #1FCF62; }
      .fancy-submit i.color-icon.red {
        color: #F73952; }
  .fancy-submit input[type="button"],
  .fancy-submit input[type="reset"],
  .fancy-submit input[type="submit"],
  .fancy-submit input[type="cancel"],
  .fancy-submit button {
    display: flex;
    border: unset;
    background: unset;
    outline: unset;
    text-transform: uppercase;
    color: #948D87;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-family: "GothamBold", Helvetica, Arial, sans-serif;
    white-space: normal;
    line-height: 12px; }

.simple-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer; }
  .simple-checkbox .box {
    background-color: #FFFFFF;
    border: 1px solid #DFDDDB;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    cursor: pointer; }
    .simple-checkbox .box i.checker {
      display: flex;
      font-size: 12px;
      width: 10px;
      height: 10px;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: #3452FF;
      opacity: 0;
      transition: all .2s ease-in-out, transform .2s ease-in-out; }
  .simple-checkbox span.simple-label {
    color: #948D87;
    font-family: "GothamBold", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    margin-left: 5px;
    margin-top: 2px;
    user-select: none; }
  .simple-checkbox.checked .box i.checker {
    opacity: 1;
    transition: all .2s ease-in-out, transform .2s ease-in-out; }
  .simple-checkbox input {
    display: none; }

.fancy-checkbox {
  border: 1px solid #DFDDDB;
  border-radius: 4px 4px 4px 4px;
  background-color: #FFFFFF;
  padding: 4px 10px 0px 10px;
  margin: 0 10px 10px 0;
  cursor: pointer;
  font-weight: normal;
  user-select: none;
  transition: all .2s ease-in-out, transform .2s ease-in-out;
  height: 30px;
  display: inline-flex;
  align-items: center; }
  .fancy-checkbox:hover label {
    color: #3452FF;
    font-weight: normal;
    transition: all .2s ease-in-out, transform .2s ease-in-out; }
  .fancy-checkbox.checked {
    border: 1px solid #3452FF;
    background-color: #3452FF;
    font-weight: normal;
    transition: all .2s ease-in-out, transform .2s ease-in-out; }
    .fancy-checkbox.checked label {
      color: #FFFFFF;
      transition: all .2s ease-in-out, transform .2s ease-in-out; }
  .fancy-checkbox label {
    font-family: "GothamBook", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #948D87;
    cursor: pointer;
    user-select: none;
    transition: all .2s ease-in-out, transform .2s ease-in-out; }
  .fancy-checkbox input {
    display: none; }

.fancy-textarea {
  background: #FFFFFF;
  position: relative;
  border-radius: 4px;
  border: 1px solid #DFDDDB; }
  .fancy-textarea.disabled, .fancy-textarea.grey {
    background-color: #EFEEED; }
    .fancy-textarea.disabled textarea.fancy, .fancy-textarea.grey textarea.fancy {
      background-color: #EFEEED; }
  .fancy-textarea label.fancy {
    text-transform: uppercase;
    display: block;
    text-align: left;
    margin: 0;
    padding: 11px 0 0 11px;
    font-size: 10px;
    font-family: "GothamBold", Helvetica, Arial, sans-serif;
    color: #948D87; }
  .fancy-textarea textarea.fancy {
    display: block;
    border: 0px;
    box-shadow: none;
    font-size: 16px;
    color: #3452FF;
    outline: 0;
    width: 100%;
    font-family: "GothamBook", Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 7px 0px 8px 9px;
    border-radius: 4px;
    resize: none;
    padding-left: 50px;
    padding-right: 50px; }
    @media (max-width: 992px) {
      .fancy-textarea textarea.fancy {
        padding-left: 12px;
        padding-right: 12px; } }
    .fancy-textarea textarea.fancy:focus {
      border: 0;
      box-shadow: unset; }
    .fancy-textarea textarea.fancy.no-padding {
      padding: 7px 0px 8px 9px; }

.fancy-highlight {
  background: #FFFFFF;
  position: relative;
  border-radius: 4px;
  border: 1px solid #FFFFFF; }
  .fancy-highlight.ui-sortable .fancy-highlight.ui-sortable-placeholder {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    visibility: visible; }

.fancy-span {
  border-bottom: 2px solid #FFFFFF;
  height: 60px; }
  .fancy-span.grey {
    border-bottom: 2px solid #DFDDDB; }
  .fancy-span label.fancy {
    text-transform: uppercase;
    display: block;
    text-align: left;
    margin: 0;
    padding: 11px 0 0 11px;
    font-size: 10px;
    font-family: "GothamBold", Helvetica, Arial, sans-serif;
    color: #948D87; }
  .fancy-span span.fancy {
    display: block;
    border: 0px;
    box-shadow: none;
    font-size: 16px;
    color: #000000;
    outline: 0;
    width: 100%;
    font-family: "GothamBook", Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 5px 0px 5px 9px;
    border-radius: 4px;
    width: 100%;
    text-align: left; }

.fancy-input {
  background: #FFFFFF;
  position: relative;
  border-radius: 4px;
  border: 1px solid #DFDDDB; }
  .fancy-input.draggable {
    background: #DFDDDB;
    display: flex;
    align-items: center; }
    .fancy-input.draggable.ui-sortable .fancy-input.draggable.ui-sortable-placeholder {
      background-color: #FFFFFF;
      border: 1px solid #FFFFFF;
      visibility: visible; }
    .fancy-input.draggable.ui-sortable-helper {
      background: #3452FF;
      border: 1px solid #3452FF; }
      .fancy-input.draggable.ui-sortable-helper i {
        color: #FFFFFF; }
    .fancy-input.draggable i {
      color: #948D87;
      height: 100%;
      width: 30px;
      font-size: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
    .fancy-input.draggable div.input-content {
      display: block;
      position: relative;
      background: white;
      border-radius: 4px;
      width: 100%;
      height: 100%; }
  .fancy-input.disabled, .fancy-input.grey {
    background-color: #EFEEED; }
    .fancy-input.disabled input.fancy, .fancy-input.grey input.fancy {
      background-color: #EFEEED; }
  .fancy-input.w300 {
    width: 300px; }
  .fancy-input label.fancy {
    text-transform: uppercase;
    display: block;
    text-align: left;
    margin: 0;
    padding: 11px 0 0 11px;
    font-size: 10px;
    font-family: "GothamBold", Helvetica, Arial, sans-serif;
    color: #948D87; }
  .fancy-input input.fancy {
    display: block;
    border: 0px;
    box-shadow: none;
    font-size: 16px;
    color: #3452FF;
    outline: 0;
    width: 100%;
    font-family: "GothamBook", Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    // padding: 5px 0px 5px 9px;
    padding: 0;
    border-radius: 4px; }
    .fancy-input input.fancy:focus {
      border: 0;
      box-shadow: unset; }

.carbox-select {
  width: 100%;
  background: #FFFFFF;
  position: relative;
  border-radius: 4px;
  border: 1px solid #DFDDDB; }
  .carbox-select.grey {
    background: #EFEEED; }
    .carbox-select.grey .query {
      background: #EFEEED; }
  .carbox-select.opened {
    border-radius: 4px 4px 0 0; }
    .carbox-select.opened .open {
      transform: rotate(180deg) translateY(4px); }
    .carbox-select.opened .options {
      max-height: 300px;
      border: 1px solid #DFDDDB;
      z-index: 2;
      opacity: 1; }
    .carbox-select.opened:after {
      content: "";
      display: block;
      width: 100%;
      border-top: 2px solid #3452FF;
      z-index: 3;
      position: absolute; }
  .carbox-select .label {
    text-transform: uppercase;
    display: block;
    text-align: left;
    margin: 0;
    padding: 11px 0 0 11px;
    font-size: 10px;
    font-family: "GothamBold", Helvetica, Arial, sans-serif;
    color: #948D87; }
  .carbox-select .query {
    display: block;
    border: 0px;
    box-shadow: none;
    font-size: 16px;
    color: #3452FF;
    outline: 0;
    font-family: "GothamBook", Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    // padding: 7px 0px 8px 9px;
    padding: 0;
    border-radius: 4px; }
  .carbox-select .options {
    display: block;
    position: absolute;
    background: #FFFFFF;
    color: #000000;
    width: calc(100% + 2px);
    max-height: 0px;
    left: -1px;
    opacity: 0;
    overflow: auto;
    font-size: 16px;
    border: 1px solid #DFDDDB;
    z-index: 0;
    border-radius: 0 0 4px 4px;
    border-top: unset;
    transition: all .2s ease-in-out, transform .2s ease-in-out; }
    .carbox-select .options .option {
      display: block;
      padding: 10px;
      cursor: pointer;
      text-align: left;
      color: #000000; }
      .carbox-select .options .option:hover, .carbox-select .options .option.selected {
        background: #3452FF;
        color: #FFFFFF; }
  .carbox-select .remove {
    position: absolute;
    font-size: 25px;
    color: #948D87;
    top: 25px;
    right: 11px;
    opacity: 0;
    transition: all .2s ease-in-out, transform .2s ease-in-out; }
    .carbox-select .remove.v {
      cursor: pointer;
      opacity: 1; }
  .carbox-select .open {
    position: absolute;
    cursor: pointer;
    font-size: 25px;
    color: #3452FF;
    top: 0;
    right: 10px;
    transition: all .2s ease-in-out, transform .2s ease-in-out; }

.fancy-datepicker {
  cursor: pointer; }
  @media (max-width: 992px) {
    .fancy-datepicker {
      margin-top: 10px; } }
  .fancy-datepicker .open {
    position: absolute;
    cursor: pointer;
    font-size: 25px;
    color: #3452FF;
    top: 0;
    right: 10px;
    transition: all .2s ease-in-out, transform .2s ease-in-out; }
  .fancy-datepicker.opened {
    border-radius: 4px 4px 0 0; }
    .fancy-datepicker.opened .open {
      transform: rotate(180deg) translateY(4px); }

.add-item {
  display: inline-flex;
  margin-top: 10px;
  cursor: pointer;
  align-items: center;
  position: relative; }
  .add-item.in-option {
    display: flex !important;
    padding-left: 5px !important;
    padding-top: 2px;
    padding-bottom: 2px; }
  .add-item i {
    display: flex;
    font-size: 25px;
    color: #948D87;
    background-color: #EFEEED;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    transition: all .2s ease-in-out, transform .2s ease-in-out; }
  .add-item span {
    display: flex;
    height: 100%;
    align-items: center;
    font-family: "GothamBold", Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #948D87;
    padding-left: 5px; }
  .add-item:hover i {
    color: #EFEEED;
    background-color: #948D87;
    transition: all .2s ease-in-out, transform .2s ease-in-out; }
  .add-item.white i {
    color: #948D87;
    background-color: #FFFFFF;
    transition: all .2s ease-in-out, transform .2s ease-in-out; }
  .add-item.white:hover i {
    color: #FFFFFF;
    background-color: #948D87;
    transition: all .2s ease-in-out, transform .2s ease-in-out; }
  .add-item.yellow i {
    color: #F0CB13;
    background-color: #FFFFFF;
    transition: all .2s ease-in-out, transform .2s ease-in-out; }
  .add-item.yellow:hover i {
    color: #FFFFFF;
    background-color: #F0CB13;
    transition: all .2s ease-in-out, transform .2s ease-in-out; }
  .add-item.yellow:hover span {
    color: #F0CB13; }
  .add-item.blue i {
    color: #3452FF;
    transition: all .2s ease-in-out, transform .2s ease-in-out; }
  .add-item.blue:hover i {
    color: #FFFFFF;
    background-color: #3452FF;
    transition: all .2s ease-in-out, transform .2s ease-in-out; }
  .add-item.blue:hover span {
    color: #3452FF; }
  .add-item.m30 {
    margin-top: 30px; }
  .add-item.m25-25 {
    display: inline-flex;
    margin-top: 25px;
    margin-bottom: 25px; }
